$theme-colors: (
  "primary": #fd267d,
  "secondary": #ff7854,
);

body {
  background: linear-gradient(262deg, #ff7854, #fd267d);
}

@import "~bootstrap/scss/bootstrap";

.vote {
  position: absolute;
  top: 15px;
  right: 30px;
  color: $light;
  padding: 6px 8px;
}
.imageCat {
  min-height: 400px;
  background-size: cover;
}
